body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fire {
    font-size: 10rem;
    animation: fire .5s infinite alternate linear;
}

@keyframes fire {
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(2);
    }
}